/* 

.repeat_pricelist {
    h1, h2, h3, h4, h5, h6 {
        color: green !important;
    }
} */

/* body {
    background-color: transparent !important;
} */

/* 

h1 {
    color: #ff0000 !important;
    background-color: yellow;
}

.o_report_layout_standard .repeat_pricelist {
    h2 {
        color: orange !important;
    }
} */
